body{
    background-image: linear-gradient(to right, green, rgb(208, 235, 59));
}

#snake-canvas{
    border-radius: 2%;
}

#scoreboard{
    background-image: linear-gradient(to bottom, rgb(216, 5, 5), rgba(183, 255, 14, 0.048));
    border-radius: 2%;
    height: 76%;
    width: 25%;
    position: absolute;
    left: 75%;
    top: 1%;
    font-family: 'Permanent Marker', cursive;
}

#score{
    font-size: 200px;
    position: relative;
    right: 25%;
    margin-left: 35%;
}

#directions{
    margin-top: 30%;
    margin-left: 25%;
    font-size: 30px;
}

li{
    margin-top: 3%;
    margin-left: 3%;
    font-size: 18px;
}

#apple-image{
    position:static;
    margin-left: 6%;
}

#snake-img{
    position:static;
}

#snake-text{
    max-width: 100%;
    height: auto;
    width: auto;
}

#apples-eaten{
    color: white;
    font-weight: 400;
    font-size: 50px;
    font-family: 'Permanent Marker', cursive;
    margin-left: 15%;
}